html{
    background-color: antiquewhite;
    font-family: 'Karla', sans-serif;
}
nav{
    height: 30px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    position: fixed;
}
main{
    margin: auto;
    max-width: 60vw;
}
form{
    padding: 35px 20px 10px 20px;
    display: grid;
}
.post-title,
.post-body{
    width: 35vw;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
}
.post-body{
    height: 70px;
}
button{
    width: 35vw;
    margin-top: 8px;
    padding: 10px;
    font-size: 1.1rem;
}
button:hover{
    cursor: pointer;
}
.items-box{
    padding-top: 5px;
    color: #0F0F0F;
}